<div>
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <a href="{{ path('sfynx_auth_security_logout') }}" title="">{{ 'layout.logout'|trans([], 'messages') }}</a>
{% else %}
    <a href="{{ path('sfynx_auth_security_login') }}" title="">{{ 'layout.login'|trans([], 'messages') }}</a> |
{% endif %}
</div>

{% for key, flashMessage in app.session.flashbag.all() %}
	<div class="{{ flashMessage }}">
	    {{ key|trans([], 'messages') }}
	</div>	
{% endfor %}