<ul>
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <li><a href="{{ path('sfynx_auth_security_logout') }}" title="">{{ 'layout.logout'|trans([], 'messages') }}</a></li>
{% else %}
    <li><a href="{{ path('sfynx_auth_security_login') }}" title="">{{ 'layout.login'|trans([], 'messages') }}</a></li>
{% endif %}
</ul>

{% for key, flashMessage in app.session.flashbag.all() %}
	<div class="{{ flashMessage }}">
	    {{ key|trans([], 'messages') }}
	</div>	
{% endfor %}